:root {
  --primary-main-pink: #b70569;
  --primary-dark-pink: #6d033f;
  --primary-light-pink: #f0cde1;
  --secondary-main-black: #1a1a1a;
  --primary-black: #0000;
  --primary-lighter-pink: #f0cde14d;
  --primary-very-light-pink: #f7e6f04d;
  --primary-white: #ffffff;
  --primary-grey: #707070;
}

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  font-family: 'Inter', sans-serif;
}

/* Speakers */
.speakers {
  background-color: var(--primary-main-pink);
}

.speakers .tle {
  padding-top: 25px;
  font-size: 10px;
  letter-spacing: 1px;
  font-weight: 600;
  color: var(--primary-white);
}

.speakers .hd {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 1000;
  letter-spacing: 1.5px;
  color: var(--primary-white);
}

.wp {
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
  /* overflow: scroll; */
  justify-content: center;
  align-items: center;
}

.cd {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  transition: 0.3s;
  margin: 20px;
  width: 380px;
  height: 420px;
  background-color: var(--primary-white);
}

.ig {
  height: 300px;
  width: 380px;
}

ig {
  width:100%;
  height:100%;
}

.cd:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.cont {
  padding: 5px 16px;
  text-align: justify;
  margin-left: 15px;
}

.cont h5 {
  margin-top: 15px;
  color: var(--primary-grey);
}

.cont h2 {
  margin-top: -10px;
  font-size: 22px;
  font-weight: 700;
  color: var(--secondary);
}

.cont p {
  margin-top: -10px;
  color: var(--primary-grey);
  font-size: 15px;
}

button {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  display:inline-block;
  padding: 10px 20px;
  border:0.1em solid #FFFFFF;
  background-color: var(--primary-white);
  margin: 0 0 30px 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight: 700;
  color:var(--primary-main-pink);
  text-align:center;
  transition: all 0.2s;
}

button::after {
  background-color: var(--primary-main-pink);
}

/* Schedule */
.schedule {
  display:flex;
  flex-direction:row;
  margin-top: 100px;
}

.lt {
  float: left;
  width: 40%;
  text-align: justify;
  margin: 75px 50px;
}

.lt h4 {
  font-weight: bold;
  color: var(--primary-main-pink);
}

.lt p {
  color: var(--primary-grey);
}

.rt {
  float: right;
  width: 60%;
}

table {
  border-collapse: collapse;
  border-style: hidden;
  color: var(--primary-dark-pink);
  width: 100%;
  text-align: justify;
  margin-top: 20px;
}

table td, table th {
  border-left: 1px solid var(--primary-dark-pink);
  border-bottom: none;
  height: 35px;
}

tr td:nth-child(1) {
  width: 150px;
}

tr td:nth-child(2) {
  padding-left: 20px;
  margin-left: 10px;
}

tr:nth-child(even) td:nth-child(even) {
  color: var(--primary-grey);
  margin-bottom: 100px;
}

caption {

}

caption button:first-child {
  text-align: left;
}

caption button:nth-child(3) {
  text-align: right;
}

caption button {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  border: none;
  border-bottom: 2px solid var(--primary-grey);
  color: var(--primary-grey);
  border-radius: 0;
  background: none;
  font-size: 20px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  width: 230px;
}

caption button:hover{
  color: var(--primary-main-pink);
  border-bottom: 2px solid var(--primary-main-pink);
}

@media (max-width: 1024px) {
  .wp {  
    max-width: 960px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }

  .cd {
    margin: 50px;
  }

  .lt {
    width: 30%;
  }

  .rt{
    width: 70%;
  }

  caption button {
    width: 200px;
  }
}

@media (max-width: 768px) {
  .wp {  
    max-width: 700px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }

  .cd {
    margin: 15px;
    width: 320px;
    height: 380px;
    background-color: var(--primary-white);
  }
  
  .ig {
    height: 250px;
    width: 320px;
  }

  caption button {
    width: 150px;
  }
}

@media (max-width: 425px) {
  .wp {  
    max-width: 350px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }

  .cd {
    margin: 15px;
    width: 320px;
    height: 380px;
  }
  
  .ig {
    height: 250px;
    width: 320px;
  }

  .schedule {
    display: block;
  }

  .lt {
    width: 80%;
  }

  .rt{
    width: 100%;
  }

  caption button {
    width: 100px;
    font-size: 15px;
  }

  table {
    width: 100%;
    font-size: 12px;
    text-align: justify;
    margin-top: 20px;
  }
  
  table td, table th {
    height: 20px;
  }
  
  tr td:nth-child(1) {
    width: 150px;
    padding: 0;
    margin: 0;
  }
  
  tr td:nth-child(2) {
    padding-left: 10px;
    margin-left: 5px;
  }
  
  tr:nth-child(even) td:nth-child(even) {
    color: var(--primary-grey);
    margin-bottom: 100px;
  }
}

@media (max-width: 320px) {
  .wp {  
    max-width: 250px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }

  .cd {
    margin: 18px;
    width: 280px;
    height: 350px;
  }
  
  .ig {
    height: 220px;
    width: 280px;
  }
}